#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Template examples</h1>

<ul>
  <li><a href="@{example('inline')}">Everything inline</a> - no layout, includes or tags</li>
  <li>Exercise 2.2.1 - <em>Page layout</em> - extract an outer page template</li>
  <li>Exercise 2.2.2 - <em>Sub-template</em> - extract a sub-template using the <code>include</code> tag</li>
  <li>Exercise 2.2.3 - <em>Tags</em> - custom Groovy template tags</li>
  <li>Exercise 2.2.4 - <em>Java Extensions</em></li>
  <li>Exercise 2.2.5 - <em>Java tags</em> - custom Java tags</li>
</ul>
