#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Template examples</h1>

<ul>
  <li><a href="@{example('inline')}">Everything inline</a> - no layout, includes or tags</li>
  <li><a href="@{example('layout')}">Page layout</a> - extract an outer page template</li>
  <li><a href="@{example('include')}">Sub-template</a> - extract a sub-template using the <code>include</code> tag</li>
  <li><a href="@{example('tags')}">Tags</a> - custom Groovy template tags</li>
  <li><a href="@{example('fasttags')}">Java tags</a> - custom Java tags</li>
</ul>
