*{
   A table of prime factorisations.
   
   @param List<CompositeNumber> numbers A list of numbers with factorisation information. 
}*
#{extends 'main.html' /}
#{set title:'Prime factorisations' /}

<h1>${numbers.size()} ${title}</h1>

<table>
<tr><th>n</th><th>Prime</th><th>Factorisation</th></tr>
#{list numbers, as:'number'}
<tr>
   <td>${number.value}</td>
   <td>#{if number.prime}✓#{/if}</td>
   <td>${number.value} = ${number.prime ? number.value + '¹' : number.primeFactorisation}</td>
</tr>
#{/list}
</table>